<!-- templates/notifications/registration/user_registration_email.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Enrollment Email</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css"
    />
  </head>
  <body>
    <p>Hello <strong>{{ user.first_name }} {{ user.last_name }}</strong>,</p>
    <p>Thank you for enrolling to the course {{course.title}}</p>
    <p>We're excited to have you on learn more.</p>
    <p>Best regards,</p>
    <p>
      Please access the course here.
      <a class="button is-primary" href="{{ url }}/courses/{{course.slug}}"
        >{{course.title}}</a
      >
    </p>
    <p>
      Your's faithfully <br />
      Platform Team @ {{contacts.site.title}} <br />
      {{contacts.phone_contact}} <br />
      {{contacts.location_address}} <br />
    </p>
  </body>
</html>
